/* Navigation area ------------------------- */
.nav-bar {
  color: #FFFFFF;
  background-color: #28293E;
  ;
  width: 100%;
  height: 400px;
}

.nav-bar-one {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-bar-one h4 {
  font-size: 24px;
}

.nav-bar-one h5 {
  font-size: 14px;
  margin-top: 15px;

}
.nav-bar-two{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  text-align: center;
  width: 515px;
  height: 32px;
  margin-left: 100px;
  top: 28px;
  grid-gap: 80px;
}
.nav-bar-two a{
  text-decoration: none;
  color: white;
}
.contact {
  border: 1px solid #FFFFFF;
  border-radius: 6px;
  width: 138px;
  height: 48px;
  text-align: center;
  align-items: center;
}
.blog-article{
  font-weight: 800px;
  font-size: 72px;
  text-align: center;
  letter-spacing: -2px;
  margin-top: -20px;
}

.description{
  position: absolute;
  width: 500px;
  height: 66px;
  left: 523px;
  top: 300px;
  font-size: 16px;
  align-items: center;
  text-align: center;
}

 /* second part style start from here ------------ */
 .body-area{
   background-color: #FDF0E9;
   border: 1px solid #FDF0E9;
   padding: 15px;
 }
.image-part-one {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  margin-top: 50px;
  grid-gap: 40px;
}
.image-part-one img{
  height: 336px;
  width: 570px;
  border-radius: 6px;
  
}
.image-part-one h6{
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
  color: #391400;
}
.image-part-one h3{
  font-size: 40px;
  font-weight: 800;
  margin-top: -40px;
  color: #391400;
}
.image-part-one p{
  font-size: 16px;
  font-weight: 400;
  margin-top: -15px;
  color: #391400;
}
hr{
  width: 1170px;
  height: 1px;
  left: 135px;
  top: 1104px;
  color: #F3D1BF;
  background-color: #F3D1BF;
  border-width: 0px;
}
.image-part-two{
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin-top: 50px;
  grid-gap: 40px;
}
.image-part-two h6{
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
  color: #391400;

}
.image-part-two h4{
  font-size: 24px;
  font-weight: 700;
  margin-top: -40px;
  color: #391400;

}
.image-part-two p{
  font-size: 16px;
  font-weight: 400;
  margin-top: -15px;
  color: #391400;

}
.image-part-two img{
  height: 224px;
  width: 370;
  border-radius: 6px;
}
.button{
background: #FFFFFF;
box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
border-radius: 6px;
border: 0px;
height: 48px;
width: 170px;
margin-left: 140%;
font-size: 14px;
font-weight: 900;
}

/* subscribe part style -------------- */
.subscribe{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 300px;
  justify-content: space-around;
  align-items: center;
}
.subscribe h3{
  font-size: 40px;
  font-weight: 800;
  color: #391400;
}
.email{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.email input{
  background: #FFFFFF;
  border: 1px solid #F3D1BF;
  box-sizing: border-box;
  border-radius: 6px;
  width: 370px;
  height: 48px;
  padding-left: 10px;
  font-size: 16px;
  color: rgba(57, 20, 0, 0.64);
}
.email button{
  height: 48px;
  width: 170px;
  background: #FFFFFF;
box-shadow: 0px 3px 9px rgba(57, 20, 0, 0.08);
border-radius: 6px;
border: 0px;
font-weight: 900;
font-size: 14px;
line-height: 14px;
text-align: center;
color: #391400;

}

/* agency area start ------------------- */
.agency-area{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}
.agency-area h4{
  font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 32px;
color: #391400;
}
.agency-area h5{
  font-weight: normal;
font-size: 16px;
line-height: 32px;
letter-spacing: 3px;
color: #EF6D58;

}
.detail-topic{
  font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 32px;
color: #391400;
}

.fa-facebook-square{
  color: #EF6D58;
  height: 48px;
  width: 48px;
}
.fa-twitter-square{
  color: #EF6D58;
  height: 48px;
  width: 48px;
}
.fa-instagram-square{
  color: #EF6D58;
  height: 48px;
  width: 48px;
}

/* footer area style --------------------- */
.footer-area{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  color: #39140069;
}
.footer-second{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 68px;
  font-size: 16px;
  font-weight: 400;
  justify-content: space-around;
  color: #391400;

}